/*
    Basic reset
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}



/*
    Hamburger menu nav
*/
nav {
	margin: 0 auto;
	background-color: rgb(214, 180, 44);
}

.navigation {
	list-style: none;
	padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
    text-decoration: none;
	color: black;
	font-size: 1.5em;
}

.navigation a.hamnav::before {
	content: '☰ ';
}

.navigation a:hover {
	background-color: #ffe4c4;
}

/* This is tied to the JS */
.responsive li {
	display: block;
}

.responsive a.hamnav::before {
	content: "❌ ";
}



/*
    Header
*/
.social-media-icon {
    width: 50px;
}

header {
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 180, 44);
    align-items: center;
    align-content: space-between;
}

header img {
    max-width: 100px;
    max-height: 100px;
}

header div {
    display: flex;
    flex-direction: row;
    padding: 1em;
}

header div section {
    margin-left: 1em;
}

nav {
    display: flex;
    gap: 1em;
    align-items: center;
}

#today-date {
    margin: .3em;
    padding: .3em;
    border: 2px solid rgb(154, 127, 21);
    background-color: rgb(223, 201, 113);
    width: 98%;
    text-align: center;
}



/*
    Main Grid
*/
.main-grid {
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.main-grid div {
    min-width: 100%;
    min-height: 200px;
    background-color: #ffe4c4;
    padding: 1em;
    border: 2px solid rgb(20, 2, 73); 
    text-align: center;
}
#spot-3 {
    display: none;
}
#join {
    display: none;
}
.main-grid div p:first-child {
    font-weight: bold;
    font-size: 1.1em;
}


/* 
    Grid sections
*/
/* Centerpiece Call to Action */
#hero {
    position: relative;
    padding: 0;
}
#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#hero h2 {
    position: absolute;
    left: 1em;
    top: .75em;
    font-size: 1.5em;
    background-color: #ffea65;
    padding: .1em;
    border: 2px solid rgb(20, 2, 73); 
    max-width: 80%;
}
#hero button {
    position: absolute;
    bottom: 1em;
    right: 2em;
    padding: .5em;
    padding-right: 1em;
    padding-left: 1em;
    font-weight: bold;
    font-size: 1.3em;
}

/* Event */
#event p {
    margin-bottom: 1.5em;
}

/* Spotlights */
#spotlights div p:first-child {
    font-weight: bold;
    font-size: 1.1em;
}
#spotlights div div {
    border: none;;
}
#spotlights div img {
    width: 50%;
    height: auto;
}

/* Weather */
#weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
}
#weather :first-child{
    justify-self: center;
    grid-column: 1/3;
}
#weather img {
    justify-self: right;
}
#temperature {
    font-size: 2em;
    align-self: center;
    justify-self: center;
}
#conditions {
    grid-column: 1/3;
    font-weight: bold;
}
#weather hr {
    grid-column: 1/3;
}
#wind-speed {
    justify-self: center;
}
#wind-chill {
    justify-self: center;
}

/* Join */
#join button {
    padding: .8em;
    width: 100%;
    margin-bottom: .8em;
    font-weight: bold;
    font-size: 1.2em;
}



/*
    Footer
*/
/* time to copycate the header minue nav and then modify it. */
footer {
    background-color: rgb(214, 180, 44);
    justify-content: center;
}

.footer-chamber {
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 180, 44);
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}
.footer-chamber img {
    max-width: 100px;
    max-height: 100px;
}
.footer-logo {
    display: flex;
    flex-direction: row;
    padding: 1em;
    align-items: center;
}
.footer-info {
    text-align: center;
}
.footer-info p {
    padding: .3em;
}

footer div section {
    margin-left: 1em;
}

.copyright {
    text-align: center;
    padding: .4em;
}



/* 
    Discover page. On medium and large view, put some significant padding at top of every demographic element.
*/

.discover h2 {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.discover {
    padding-bottom: 1em;
}

.demographic p {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
}

.gallery img {
    max-width: 100%;
    height: auto;
}

.gallery-label {
    padding: 1em;
    text-align: center;
}

.gallery-item {
    width: 100%;
    border: 1px solid black;
    min-height: 200px;
}

.gallery-item:hover {
    box-shadow: 0 0 20px black;
}